In [8]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("salida.csv")
df["NroComponentes"] = df["Filas"] * df["Columnas"] 
df.drop(["Filas", "Columnas"], axis=1, inplace=True)
df

     NroThreads     Tiempo  NroComponentes
0             1   1.490615          250000
1             1   4.418273          490000
2             1   9.427721          810000
3             1  18.249604         1210000
4             1  31.817314         1690000
..          ...        ...             ...
145           6   1.404908          250000
146           6   4.001417          490000
147           6   8.597974          810000
148           6  16.508520         1210000
149           6  26.862760         1690000

[150 rows x 3 columns]

In [10]:
df_grouped = df.groupby(["NroThreads", "NroComponentes"])["Tiempo"].mean().reset_index()
df_grouped

    NroThreads  NroComponentes     Tiempo
0            1          250000   1.422005
1            1          490000   4.055595
2            1          810000   8.733619
3            1         1210000  16.333080
4            1         1690000  27.995057
5            2          250000   1.420836
6            2          490000   4.022306
7            2          810000   8.666116
8            2         1210000  16.293189
9            2         1690000  28.136955
10           3          250000   1.425142
11           3          490000   3.993278
12           3          810000   8.726564
13           3         1210000  16.314488
14           3         1690000  28.290681
15           4          250000   1.431277
16           4          490000   4.005587
17           4          810000   8.706530
18           4         1210000  16.291896
19           4         1690000  28.069315
20           5          250000   1.423834
21           5          490000   4.038542
22           5          810000   8.716948
23           5         1210000  16.329016
24           5         1690000  27.970626
25           6          250000   1.422994
26           6          490000   4.014781
27           6          810000   8.732011
28           6         1210000  16.472555
29           6         1690000  27.897640

In [11]:
dfSec = df[df["NroThreads"] == 1].copy()
dfPar = df[df["NroThreads"] != 1].copy()
dfSec
dfPar

# dfPar["Speedup"] = dfSec.loc[dfSec[["Filas", "Columnas"]] == dfPar[["Filas", "Columnas"]]]["Tiempo"] / dfPar["Tiempo"]

     NroThreads     Tiempo  NroComponentes
5             2   1.475494          250000
6             2   4.447272          490000
7             2   9.280223          810000
8             2  18.230632         1210000
9             2  32.212735         1690000
..          ...        ...             ...
145           6   1.404908          250000
146           6   4.001417          490000
147           6   8.597974          810000
148           6  16.508520         1210000
149           6  26.862760         1690000

[125 rows x 3 columns]

In [12]:
dfMerged = dfPar.merge(dfSec, how="inner", on="NroComponentes", suffixes=["_par", "_sec"])

In [13]:
dfMerged["Speedup"] = dfMerged["Tiempo_sec"] / dfMerged["Tiempo_par"]

In [14]:
dfMerged

,NroThreads_par,Tiempo_par,NroComponentes,NroThreads_sec,Tiempo_sec,Speedup
0,2,1.475494,250000,1,1.490615,1.010248
1,2,1.475494,250000,1,1.407057,0.953618
2,2,1.475494,250000,1,1.408254,0.954429
3,2,1.475494,250000,1,1.407018,0.953591
4,2,1.475494,250000,1,1.397079,0.946855
...,...,...,...,...,...,...
620,6,26.862760,1690000,1,31.817314,1.184439
621,6,26.862760,1690000,1,26.914673,1.001933
622,6,26.862760,1690000,1,26.946627,1.003122
623,6,26.862760,1690000,1,27.242142,1.014123
624,6,26.862760,1690000,1,27.054530,1.007139

In [15]:
sns.lineplot(dfMerged, x="NroThreads", y="Speedup", hue="NroComponentes")

ValueError: Could not interpret value `NroThreads` for parameter `x`